@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);

html, body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

input, button{
    font-family: 'Josefin Sans', sans-serif;
}